<div class="mx-3">
  <h5>View real time products</h5>
  <hr />
  <div class="row d-flex">
    <div class="col-3">
      <form
        name="formProducts"
        id="formProducts"
        class="needs-validation col-12"
        novalidate
      >
        <input name="id" type="hidden" id="id" />
        <div class="col-md">
          <label for="title" class="form-label">Título del producto</label>
          <input
            name="title"
            type="text"
            class="form-control"
            id="title"
            placeholder="Ingrese un título"
            required
          />
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md">
          <label for="description" class="form-label">Descripción</label>
          <input
            name="description"
            type="text-area"
            class="form-control"
            id="description"
            placeholder="Ingrese una descripción"
            required
          />
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md">
          <label for="price" class="form-label">Precio</label>
          <input
            name="price"
            type="text-area"
            class="form-control"
            id="price"
            placeholder="Ingrese el precio"
            required
          />
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md">
          <label for="code" class="form-label">Codigo</label>
          <input
            name="code"
            type="text"
            class="form-control"
            id="code"
            placeholder="Ingrese el código"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md">
          <label for="category" class="form-label">Categoria</label>
          <input
            name="category"
            type="text"
            class="form-control"
            id="category"
            placeholder="Ingrese la categoria"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md">
          <label for="stock" class="form-label">Cantidad</label>
          <input
            name="stock"
            type="text"
            class="form-control"
            id="stock"
            placeholder="Ingrese la cantidad"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
        <div class="col-md">
          <label for="thumbnail" class="form-label">Imagenes</label>
          <input
            name="thumbnail"
            type="text"
            class="form-control"
            id="thumbnail"
            placeholder="Ingrese URL de las imagenes"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
        <div class="row d-block">
          <div class="col-12 d-block mt-1">
            <button
              class="btn btn-success btn-sm d-block"
              type="submit"
              name="btnformProducts"
              id="submit"
            >Enviar</button>
          </div>

        </div>
      </form>
      <button
        class="btn btn-primary btn-sm mt-1"
        id="update"
        disabled
      >Actualizar</button>
      <button
        class="btn btn-danger btn-sm mt-1"
        disabled
        id="cancelUpdate"
      >Cancelar edicion</button>
    </div>

    <div class="col-9">
      <table class="table table-sm table-dark" id="tableProducts">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
            <th scope="col">Code</th>
            <th scope="col">Categoria</th>
            <th scope="col">Cantidad</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
            <tr id="celda">
              <th scope="row">{{this.id}}</th>
              <td>{{this.title}}</td>
              <td>{{this.description}}</td>
              <td>{{this.price}}</td>
              <td>{{this.thumbnail}}</td>
              <td>{{this.code}}</td>
              <td>{{this.category}}</td>
              <td>{{this.stock}}</td>
              <td><button
                  value={{this.id}}
                  class="edit btn btn-primary btn-sm"
                >Editar</button></td>
              <td><button
                  value={{this.id}}
                  class="delete btn btn-danger btn-sm"
                >Eliminar</button></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- LLamamos al servisor io para ejecutarlo aca en el frontend, 
como esto ejecuta el servidor este ya establece la comunicacion cada vez que se actualiza la paguina -->
<script src="/socket.io/socket.io.js"></script>

<!-- Aca le paso mi js publico -->
<script src="/js/websockets.js"></script>

<!-- bootstrap -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>